<%- include('header') -%>

<div class="d-grid col-6 mx-auto">
    <figure class="text-center">
        <h1>Hotel adatainak módosítása, törlése</h1>
    </figure>
    <form method="POST">
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label" >Név</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="<%= hotel.name%>">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="address" class="col-sm-2 col-form-label">Cím</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name = "address" value="<%= hotel.address%>">
            </div>
        </div>

        <div class="d-grid mb-3 col-6 mx-auto">
            <button type="submit" class="btn btn-dark">Módosítás</button>
        </div>

        <div class="d-grid mb-3 justify-content-md-end">
            <a href="/hotel/del/<%=hotel._id %>"  class="btn btn-dark">Törlés</a>
        </div>

        <div class="d-grid justify-content-md-end">
            <a href="/hotelek" class="btn btn-outline-dark" type="button">Vissza</a>
        </div>
    </form>
</div>

<%- include ('footer')-%>